{% extends "base.html" %} 


{% block content %}
<div class="row mt-3">
  <div class="col-md-7 mx-auto">
    <h4>Like tweets based on hashtags or keywords</h4>
    <form action="{{ url_for('like_tweet') }}" method="POST">
      <div class="form-group">
        <label
          >List of keywords or hashtags to watch, (each on a newline)</label
        >
        <textarea
          name="keywords_to_watch"
          id=""
          cols="30"
          rows="6"
          class="form-control"
        ></textarea>
      </div>

      <div class="form-group">
        <label>
          Schedule to run every n specified Minutes:
        </label>
        <input type="number" class="form-control" value="30" name="time_interval_to_check_keywords" />
      </div>

      <button class="btn btn-primary w-100">Start</button>
    </form>
  </div>
</div>
{% endblock %}
